In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('RTA Dataset.csv')
df

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12311,16:15:00,Wednesday,31-50,Male,NaN,Employee,2-5yr,Lorry (11?40Q),Owner,NaN,...,Going straight,na,na,na,na,Driver,Normal,Not a Pedestrian,No distancing,Slight Injury
12312,18:00:00,Sunday,Unknown,Male,Elementary school,Employee,5-10yr,Automobile,Owner,NaN,...,Other,na,na,na,na,Driver,Normal,Not a Pedestrian,No distancing,Slight Injury
12313,13:55:00,Sunday,Over 51,Male,Junior high school,Employee,5-10yr,Bajaj,Owner,2-5yrs,...,Other,Driver or rider,Male,31-50,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Serious Injury
12314,13:55:00,Sunday,18-30,Female,Junior high school,Employee,Above 10yr,Lorry (41?100Q),Owner,2-5yrs,...,Other,na,na,na,na,Driver,Normal,Not a Pedestrian,Driving under the influence of drugs,Slight Injury
12315,13:55:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Other,Owner,2-5yrs,...,Stopping,Pedestrian,Female,5,3,Driver,Normal,Crossing from nearside - masked by parked or s...,Changing lane to the right,Slight Injury

# Preprocessing time

In [3]:
def getHour(timing):
    output = []
    for i in range(len(timing)):
        hour = timing[i].split(":")[0]
        output.append(int(hour))
    return output

In [4]:
df['TimeHr'] = getHour(df['Time'])
df.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity,TimeHr
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury,17
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury,17
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury,1

In [5]:
df.columns

Index(['Time', 'Day_of_week', 'Age_band_of_driver', 'Sex_of_driver',
       'Educational_level', 'Vehicle_driver_relation', 'Driving_experience',
       'Type_of_vehicle', 'Owner_of_vehicle', 'Service_year_of_vehicle',
       'Defect_of_vehicle', 'Area_accident_occured', 'Lanes_or_Medians',
       'Road_allignment', 'Types_of_Junction', 'Road_surface_type',
       'Road_surface_conditions', 'Light_conditions', 'Weather_conditions',
       'Type_of_collision', 'Number_of_vehicles_involved',
       'Number_of_casualties', 'Vehicle_movement', 'Casualty_class',
       'Sex_of_casualty', 'Age_band_of_casualty', 'Casualty_severity',
       'Work_of_casuality', 'Fitness_of_casuality', 'Pedestrian_movement',
       'Cause_of_accident', 'Accident_severity', 'TimeHr'],
      dtype='object')

In [6]:
#dropping columns which are not needed
df.drop(['Time', 'Educational_level', 'Vehicle_driver_relation', 'Owner_of_vehicle', 'Service_year_of_vehicle',
        'Work_of_casuality', 'Fitness_of_casuality', 'Defect_of_vehicle'], axis = 1, inplace = True)
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Driving_experience,Type_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,Types_of_Junction,Road_surface_type,...,Number_of_casualties,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity,TimeHr
0,Monday,18-30,Male,1-2yr,Automobile,Residential areas,NaN,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury,17
1,Monday,31-50,Male,Above 10yr,Public (> 45 seats),Office areas,Undivided Two way,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,17
2,Monday,18-30,Male,1-2yr,Lorry (41?100Q),Recreational areas,other,NaN,No junction,Asphalt roads,...,2,Going straight,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,Sunday,18-30,Male,5-10yr,Public (> 45 seats),Office areas,other,Tangent road with mild grade and flat terrain,Y Shape,Earth roads,...,2,Going straight,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,Sunday,18-30,Male,2-5yr,NaN,Industrial areas,other,Tangent road with flat terrain,Y Shape,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,1

# Filing Missing values

In [7]:
df.isnull().sum()

Day_of_week                      0
Age_band_of_driver               0
Sex_of_driver                    0
Driving_experience             829
Type_of_vehicle                950
Area_accident_occured          239
Lanes_or_Medians               385
Road_allignment                142
Types_of_Junction              887
Road_surface_type              172
Road_surface_conditions          0
Light_conditions                 0
Weather_conditions               0
Type_of_collision              155
Number_of_vehicles_involved      0
Number_of_casualties             0
Vehicle_movement               308
Casualty_class                   0
Sex_of_casualty                  0
Age_band_of_casualty             0
Casualty_severity                0
Pedestrian_movement              0
Cause_of_accident                0
Accident_severity                0
TimeHr                           0
dtype: int64

In [10]:
df['Driving_experience'].fillna(df['Driving_experience'].mode()[0], inplace = True)
df['Type_of_vehicle'].fillna(df['Type_of_vehicle'].mode()[0], inplace = True)
df['Area_accident_occured'].fillna(df['Area_accident_occured'].mode()[0], inplace = True)
df['Type_of_vehicle'].fillna(df['Type_of_vehicle'].mode()[0], inplace = True)
df['Lanes_or_Medians'].fillna(df['Lanes_or_Medians'].mode()[0], inplace = True)
df['Road_allignment'].fillna(df['Road_allignment'].mode()[0], inplace = True)
df['Types_of_Junction'].fillna(df['Types_of_Junction'].mode()[0], inplace = True)
df['Road_surface_type'].fillna(df['Road_surface_type'].mode()[0], inplace = True)
df['Type_of_collision'].fillna(df['Type_of_collision'].mode()[0], inplace = True)
df['Vehicle_movement'].fillna(df['Vehicle_movement'].mode()[0], inplace = True)

In [11]:
df.isnull().sum()

Day_of_week                    0
Age_band_of_driver             0
Sex_of_driver                  0
Driving_experience             0
Type_of_vehicle                0
Area_accident_occured          0
Lanes_or_Medians               0
Road_allignment                0
Types_of_Junction              0
Road_surface_type              0
Road_surface_conditions        0
Light_conditions               0
Weather_conditions             0
Type_of_collision              0
Number_of_vehicles_involved    0
Number_of_casualties           0
Vehicle_movement               0
Casualty_class                 0
Sex_of_casualty                0
Age_band_of_casualty           0
Casualty_severity              0
Pedestrian_movement            0
Cause_of_accident              0
Accident_severity              0
TimeHr                         0
dtype: int64

# Handling Cat values

In [12]:
df['Day_of_week'].replace({'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}, inplace = True)
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Driving_experience,Type_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,Types_of_Junction,Road_surface_type,...,Number_of_casualties,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity,TimeHr
0,0,18-30,Male,1-2yr,Automobile,Residential areas,Two-way (divided with broken lines road marking),Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury,17
1,0,31-50,Male,Above 10yr,Public (> 45 seats),Office areas,Undivided Two way,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,17
2,0,18-30,Male,1-2yr,Lorry (41?100Q),Recreational areas,other,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,6,18-30,Male,5-10yr,Public (> 45 seats),Office areas,other,Tangent road with mild grade and flat terrain,Y Shape,Earth roads,...,2,Going straight,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,6,18-30,Male,2-5yr,Automobile,Industrial areas,other,Tangent road with flat terrain,Y Shape,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,1

In [13]:
df_Age_band_of_driver = pd.get_dummies(df['Age_band_of_driver'], prefix = 'Age_band_of_driver', drop_first = True)
df_Age_band_of_driver.head()

,Age_band_of_driver_31-50,Age_band_of_driver_Over 51,Age_band_of_driver_Under 18,Age_band_of_driver_Unknown
0,0,0,0,0
1,1,0,0,0
2,0,0,0,0
3,0,0,0,0
4,0,0,0,0

In [14]:
df['Sex_of_driver'].replace({'Female':0, 'Male':1}, inplace = True)
df.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Driving_experience,Type_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,Types_of_Junction,Road_surface_type,...,Number_of_casualties,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity,TimeHr
0,0,18-30,1,1-2yr,Automobile,Residential areas,Two-way (divided with broken lines road marking),Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury,17
1,0,31-50,1,Above 10yr,Public (> 45 seats),Office areas,Undivided Two way,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,17
2,0,18-30,1,1-2yr,Lorry (41?100Q),Recreational areas,other,Tangent road with flat terrain,No junction,Asphalt roads,...,2,Going straight,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury,17
3,6,18-30,1,5-10yr,Public (> 45 seats),Office areas,other,Tangent road with mild grade and flat terrain,Y Shape,Earth roads,...,2,Going straight,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury,1
4,6,18-30,1,2-5yr,Automobile,Industrial areas,other,Tangent road with flat terrain,Y Shape,Asphalt roads,...,2,Going straight,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury,1

In [15]:
df_Driving_experience = pd.get_dummies(df['Driving_experience'], prefix = 'Driving_experience', drop_first = True)
df_Driving_experience.head()

,Driving_experience_2-5yr,Driving_experience_5-10yr,Driving_experience_Above 10yr,Driving_experience_Below 1yr,Driving_experience_No Licence,Driving_experience_unknown
0,0,0,0,0,0,0
1,0,0,1,0,0,0
2,0,0,0,0,0,0
3,0,1,0,0,0,0
4,1,0,0,0,0,0

In [16]:
df_Type_of_vehicle = pd.get_dummies(df['Type_of_vehicle'], prefix = 'Type_of_vehicle', drop_first = True)
df_Type_of_vehicle.head()

,Type_of_vehicle_Bajaj,Type_of_vehicle_Bicycle,Type_of_vehicle_Long lorry,Type_of_vehicle_Lorry (11?40Q),Type_of_vehicle_Lorry (41?100Q),Type_of_vehicle_Motorcycle,Type_of_vehicle_Other,Type_of_vehicle_Pick up upto 10Q,Type_of_vehicle_Public (12 seats),Type_of_vehicle_Public (13?45 seats),Type_of_vehicle_Public (> 45 seats),Type_of_vehicle_Ridden horse,Type_of_vehicle_Special vehicle,Type_of_vehicle_Stationwagen,Type_of_vehicle_Taxi,Type_of_vehicle_Turbo
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
df_Area_accident_occured = pd.get_dummies(df['Area_accident_occured'], prefix = 'Area_accident_occured', drop_first = True)
df_Area_accident_occured.head()

,Area_accident_occured_ Recreational areas,Area_accident_occured_ Church areas,Area_accident_occured_ Hospital areas,Area_accident_occured_ Industrial areas,Area_accident_occured_ Outside rural areas,Area_accident_occured_Office areas,Area_accident_occured_Other,Area_accident_occured_Recreational areas,Area_accident_occured_Residential areas,Area_accident_occured_Rural village areas,Area_accident_occured_Rural village areasOffice areas,Area_accident_occured_School areas,Area_accident_occured_Unknown
0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0

In [19]:
df_Lanes_or_Medians = pd.get_dummies(df['Lanes_or_Medians'], prefix = 'Lanes_or_Medians', drop_first = True)
df_Lanes_or_Medians.head()

,Lanes_or_Medians_One way,Lanes_or_Medians_Two-way (divided with broken lines road marking),Lanes_or_Medians_Two-way (divided with solid lines road marking),Lanes_or_Medians_Undivided Two way,Lanes_or_Medians_Unknown,Lanes_or_Medians_other
0,0,1,0,0,0,0
1,0,0,0,1,0,0
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,0,0,0,1

In [20]:
df_Road_allignment = pd.get_dummies(df['Road_allignment'], prefix = 'Road_allignment', drop_first = True)
df_Road_allignment.head()

,Road_allignment_Gentle horizontal curve,Road_allignment_Sharp reverse curve,Road_allignment_Steep grade downward with mountainous terrain,Road_allignment_Steep grade upward with mountainous terrain,Road_allignment_Tangent road with flat terrain,Road_allignment_Tangent road with mild grade and flat terrain,Road_allignment_Tangent road with mountainous terrain and,Road_allignment_Tangent road with rolling terrain
0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0

In [21]:
df_Types_of_Junction = pd.get_dummies(df['Types_of_Junction'], prefix = 'Types_of_Junction', drop_first = True)
df_Types_of_Junction.head()

,Types_of_Junction_No junction,Types_of_Junction_O Shape,Types_of_Junction_Other,Types_of_Junction_T Shape,Types_of_Junction_Unknown,Types_of_Junction_X Shape,Types_of_Junction_Y Shape
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1

In [22]:
df_Road_surface_type = pd.get_dummies(df['Road_surface_type'], prefix = 'Road_surface_type', drop_first = True)
df_Road_surface_type.head()

,Road_surface_type_Asphalt roads with some distress,Road_surface_type_Earth roads,Road_surface_type_Gravel roads,Road_surface_type_Other
0,0,0,0,0
1,0,0,0,0
2,0,0,0,0
3,0,1,0,0
4,0,0,0,0

In [23]:
df_Road_surface_conditions = pd.get_dummies(df['Road_surface_conditions'], prefix = 'Road_surface_conditions', drop_first = True)
df_Road_surface_conditions.head()

,Road_surface_conditions_Flood over 3cm. deep,Road_surface_conditions_Snow,Road_surface_conditions_Wet or damp
0,0,0,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0

In [24]:
df_Light_conditions = pd.get_dummies(df['Light_conditions'], prefix = 'Light_conditions', drop_first = True)
df_Light_conditions.head()

,Light_conditions_Darkness - lights unlit,Light_conditions_Darkness - no lighting,Light_conditions_Daylight
0,0,0,1
1,0,0,1
2,0,0,1
3,0,0,0
4,0,0,0

In [25]:
df_Weather_conditions = pd.get_dummies(df['Weather_conditions'], prefix = 'Weather_conditions', drop_first = True)
df_Weather_conditions.head()

,Weather_conditions_Fog or mist,Weather_conditions_Normal,Weather_conditions_Other,Weather_conditions_Raining,Weather_conditions_Raining and Windy,Weather_conditions_Snow,Weather_conditions_Unknown,Weather_conditions_Windy
0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0

In [26]:
df_Type_of_collision = pd.get_dummies(df['Type_of_collision'], prefix = 'Type_of_collision', drop_first = True)
df_Type_of_collision.head()

,Type_of_collision_Collision with pedestrians,Type_of_collision_Collision with roadside objects,Type_of_collision_Collision with roadside-parked vehicles,Type_of_collision_Fall from vehicles,Type_of_collision_Other,Type_of_collision_Rollover,Type_of_collision_Unknown,Type_of_collision_Vehicle with vehicle collision,Type_of_collision_With Train
0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0

In [27]:
df_Vehicle_movement = pd.get_dummies(df['Vehicle_movement'], prefix = 'Vehicle_movement', drop_first = True)
df_Vehicle_movement.head()

,Vehicle_movement_Getting off,Vehicle_movement_Going straight,Vehicle_movement_Moving Backward,Vehicle_movement_Other,Vehicle_movement_Overtaking,Vehicle_movement_Parked,Vehicle_movement_Reversing,Vehicle_movement_Stopping,Vehicle_movement_Turnover,Vehicle_movement_U-Turn,Vehicle_movement_Unknown,Vehicle_movement_Waiting to go
0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0

In [28]:
df_Casualty_class = pd.get_dummies(df['Casualty_class'], prefix = 'Casualty_class', drop_first = True)
df_Casualty_class.head()

   Casualty_class_Passenger  Casualty_class_Pedestrian  Casualty_class_na
0                         0                          0                  1
1                         0                          0                  1
2                         0                          0                  0
3                         0                          1                  0
4                         0                          0                  1

In [29]:
df['Sex_of_casualty'].replace({'Female':0, 'Male':1}, inplace = True)

In [30]:
df_Age_band_of_casualty = pd.get_dummies(df['Age_band_of_casualty'], prefix = 'Age_band_of_casualty', drop_first = True)
df_Age_band_of_casualty.head()

,Age_band_of_casualty_31-50,Age_band_of_casualty_5,Age_band_of_casualty_Over 51,Age_band_of_casualty_Under 18,Age_band_of_casualty_na
0,0,0,0,0,1
1,0,0,0,0,1
2,1,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,1

In [31]:
df_Pedestrian_movement = pd.get_dummies(df['Pedestrian_movement'], prefix = 'Pedestrian_movement', drop_first = True)
df_Pedestrian_movement.head()

,Pedestrian_movement_Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle,Pedestrian_movement_Crossing from offside - masked by parked or statioNot a Pedestrianry vehicle,"Pedestrian_movement_In carriageway, statioNot a Pedestrianry - not crossing (standing or playing)","Pedestrian_movement_In carriageway, statioNot a Pedestrianry - not crossing (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle",Pedestrian_movement_Not a Pedestrian,Pedestrian_movement_Unknown or other,"Pedestrian_movement_Walking along in carriageway, back to traffic","Pedestrian_movement_Walking along in carriageway, facing traffic"
0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0
4,0,0,0,0,1,0,0,0

In [32]:
df_Cause_of_accident = pd.get_dummies(df['Cause_of_accident'], prefix = 'Cause_of_accident', drop_first = True)
df_Cause_of_accident.head()

,Cause_of_accident_Changing lane to the right,Cause_of_accident_Driving at high speed,Cause_of_accident_Driving carelessly,Cause_of_accident_Driving to the left,Cause_of_accident_Driving under the influence of drugs,Cause_of_accident_Drunk driving,Cause_of_accident_Getting off the vehicle improperly,Cause_of_accident_Improper parking,Cause_of_accident_Moving Backward,Cause_of_accident_No distancing,Cause_of_accident_No priority to pedestrian,Cause_of_accident_No priority to vehicle,Cause_of_accident_Other,Cause_of_accident_Overloading,Cause_of_accident_Overspeed,Cause_of_accident_Overtaking,Cause_of_accident_Overturning,Cause_of_accident_Turnover,Cause_of_accident_Unknown
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

# Combining all dummy columns

In [33]:
df_dummies = pd.concat([df_Age_band_of_driver, df_Driving_experience, df_Type_of_vehicle, df_Area_accident_occured,
                       df_Lanes_or_Medians, df_Road_allignment, df_Types_of_Junction, df_Road_surface_type,
                       df_Road_surface_conditions, df_Light_conditions, df_Weather_conditions, df_Type_of_collision, df_Vehicle_movement,
                       df_Casualty_class, df_Age_band_of_casualty, df_Pedestrian_movement, df_Cause_of_accident], axis = 1)

df_dummies.head()

,Age_band_of_driver_31-50,Age_band_of_driver_Over 51,Age_band_of_driver_Under 18,Age_band_of_driver_Unknown,Driving_experience_2-5yr,Driving_experience_5-10yr,Driving_experience_Above 10yr,Driving_experience_Below 1yr,Driving_experience_No Licence,Driving_experience_unknown,...,Cause_of_accident_No distancing,Cause_of_accident_No priority to pedestrian,Cause_of_accident_No priority to vehicle,Cause_of_accident_Other,Cause_of_accident_Overloading,Cause_of_accident_Overspeed,Cause_of_accident_Overtaking,Cause_of_accident_Overturning,Cause_of_accident_Turnover,Cause_of_accident_Unknown
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [34]:
df_final = pd.concat([df, df_dummies], axis = 1)
df_final.head()

,Day_of_week,Age_band_of_driver,Sex_of_driver,Driving_experience,Type_of_vehicle,Area_accident_occured,Lanes_or_Medians,Road_allignment,Types_of_Junction,Road_surface_type,...,Cause_of_accident_No distancing,Cause_of_accident_No priority to pedestrian,Cause_of_accident_No priority to vehicle,Cause_of_accident_Other,Cause_of_accident_Overloading,Cause_of_accident_Overspeed,Cause_of_accident_Overtaking,Cause_of_accident_Overturning,Cause_of_accident_Turnover,Cause_of_accident_Unknown
0,0,18-30,1,1-2yr,Automobile,Residential areas,Two-way (divided with broken lines road marking),Tangent road with flat terrain,No junction,Asphalt roads,...,0,0,0,0,0,0,0,0,0,0
1,0,31-50,1,Above 10yr,Public (> 45 seats),Office areas,Undivided Two way,Tangent road with flat terrain,No junction,Asphalt roads,...,0,0,0,0,0,0,1,0,0,0
2,0,18-30,1,1-2yr,Lorry (41?100Q),Recreational areas,other,Tangent road with flat terrain,No junction,Asphalt roads,...,0,0,0,0,0,0,0,0,0,0
3,6,18-30,1,5-10yr,Public (> 45 seats),Office areas,other,Tangent road with mild grade and flat terrain,Y Shape,Earth roads,...,0,0,0,0,0,0,0,0,0,0
4,6,18-30,1,2-5yr,Automobile,Industrial areas,other,Tangent road with flat terrain,Y Shape,Asphalt roads,...,0,0,0,0,0,0,1,0,0,0

In [35]:
df_final.drop(['Age_band_of_driver', 'Driving_experience', 'Type_of_vehicle', 'Area_accident_occured', 'Lanes_or_Medians',
               'Road_allignment', 'Types_of_Junction', 'Road_surface_type', 'Road_surface_conditions', 'Light_conditions',
               'Weather_conditions', 'Type_of_collision', 'Vehicle_movement', 'Casualty_class', 'Age_band_of_casualty', 
               'Pedestrian_movement', 'Cause_of_accident'
              ], axis = 1, inplace = True)
df_final.head()

,Day_of_week,Sex_of_driver,Number_of_vehicles_involved,Number_of_casualties,Sex_of_casualty,Casualty_severity,Accident_severity,TimeHr,Age_band_of_driver_31-50,Age_band_of_driver_Over 51,...,Cause_of_accident_No distancing,Cause_of_accident_No priority to pedestrian,Cause_of_accident_No priority to vehicle,Cause_of_accident_Other,Cause_of_accident_Overloading,Cause_of_accident_Overspeed,Cause_of_accident_Overtaking,Cause_of_accident_Overturning,Cause_of_accident_Turnover,Cause_of_accident_Unknown
0,0,1,2,2,na,na,Slight Injury,17,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,2,na,na,Slight Injury,17,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,2,2,1,3,Serious Injury,17,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,1,2,2,0,3,Slight Injury,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,1,2,2,na,na,Slight Injury,1,0,0,...,0,0,0,0,0,0,1,0,0,0

# Checking unknown & na

In [37]:
df_final['Sex_of_driver'].unique()

array([1, 0, 'Unknown'], dtype=object)

In [42]:
df_final['Sex_of_casualty'].unique()

array(['na', 1, 0], dtype=object)

In [43]:
df_final['Casualty_severity'].unique()

array(['na', '3', '2', '1'], dtype=object)

In [44]:
df_final['Sex_of_driver'].replace('Unknown', df_final['Sex_of_driver'].mode()[0], inplace = True)
df_final['Sex_of_casualty'].replace('na',  df_final['Sex_of_casualty'].mode()[0], inplace = True)
df_final['Casualty_severity'].replace('na',  df_final['Casualty_severity'].mode()[0], inplace = True)

df_final.head()

,Day_of_week,Sex_of_driver,Number_of_vehicles_involved,Number_of_casualties,Sex_of_casualty,Casualty_severity,Accident_severity,TimeHr,Age_band_of_driver_31-50,Age_band_of_driver_Over 51,...,Cause_of_accident_No distancing,Cause_of_accident_No priority to pedestrian,Cause_of_accident_No priority to vehicle,Cause_of_accident_Other,Cause_of_accident_Overloading,Cause_of_accident_Overspeed,Cause_of_accident_Overtaking,Cause_of_accident_Overturning,Cause_of_accident_Turnover,Cause_of_accident_Unknown
0,0,1,2,2,1,3,Slight Injury,17,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,2,1,3,Slight Injury,17,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,2,2,1,3,Serious Injury,17,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,1,2,2,0,3,Slight Injury,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,1,2,2,1,3,Slight Injury,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [45]:
df_final.to_csv('RTA_preprocessed.csv', index = False)